body {
    margin: 0;
    scroll-behavior: smooth;
    background-image: url(./img/jay-dkFJST9zZZo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.pokecard {
    display: flex;
    border: solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 200px;
    margin: 10px;
    background-color:rgba(255, 235, 205, 0.9);
    cursor: pointer;
}

.pokecard img {
    height: 150px;
    width: 150px;
}

.cardHead {
    display: flex;
    gap: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

#pokeDetail {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
}

#DetailCard{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: hidden;
    position: fixed;
    top: 25%;
    background: linear-gradient(to top,pink 0%,pink 50%,paleturquoise 50%,paleturquoise 100%);
}

#DetailCard img{
    height: 150px;
    width: 150px;
}

.DetailType{ 
    border: solid black;
    border-radius: 10px;
    background-color: beige;
    padding: 5px;
}

.d-none{
    display: none !important;
}

.Stats{
    width: 250px;
}

.Speed, .HP, .Attack, .Defense{
    display: flex;
    align-items: center;
    gap: 10px;
}

.StatArt{
    width: 110px;
}

.progress {
    width: 200px;
    display: flex;
}

.DName{
    font-size: 24px;
    font-weight: bold;
}