
body {
    margin: 0;
    scroll-behavior: smooth;
    background-image: url(./img/jay-dkFJST9zZZo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-container{
    display: flex;
    justify-content: center;
    max-width: 1920px;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header{
    display: flex;
    justify-content: center;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.pokecard {
    display: flex;
    border: solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 200px;
    margin: 10px;
    background-color:rgba(255, 235, 205, 0.9);
}

.pokecard:hover {
    background-color:rgba(255, 235, 170, 1);
    cursor: pointer;
}

.pokecard img {
    height: 150px;
    width: 150px;
}

.cardHead {
    display: flex;
    gap: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

#pokeDetail {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
}

#DetailCard{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: hidden;
    position: fixed;
    top: 15%;
}

#DetailCard img{
    height: 150px;
    width: 150px;
}

.DetailType{ 
    border: solid 2px black;
    border-radius: 20px;
    background-color: beige;
    padding: 5px;
}

.d-none{
    display: none !important;
}

#Result{
    width: 400px;
    height: 112px;;
}

.Speed, .HP, .Attack, .Defense{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 28px;
}

.StatArt{
    width: 110px;
    font-size: 20px;
}

.progress {
    width: 200px;
    display: flex;
    border: solid 2px black;
    font-weight: bold;
    height: 20px !important;
}

.DName{
    font-size: 28px;
    font-weight: bold;
}

.Bottom {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 20px;
}

#More {
    width: 150px;
    height: 50px;
    font-size: 24px;
}

#More:hover {
    scale: 1.1;
}

#DetailBtn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#X {
    border: solid 2px black;
    background-color: red;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 80px;
}

#back, #next {
    border: solid 2px black;
    background-color: yellow;
    font-weight: bold;
    margin-left: 20px;
}

#X:hover {
    background-color: rgba(180, 0, 0, 1 );
}

#Top img {
    height: 60px;
    width: 60px;
    cursor: pointer;
    margin-left: 80px;
}

#Top img:hover {
    scale: 1.1;
}

#InfoBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.moves {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
}

.move {
    border: solid 2px black;
    border-radius: 5px;
    padding: 2px;
    gap: 2px;
}

.measur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold; 
}

.height, .weight {
    display: flex;
    gap: 20px;
}

